@use "../../../styles/variables" as *;

.button {
  padding: 15px;
  border: 0;
  color: #fff;
  font-family: $font-family-default;
  font-weight: $font-weight-bold;
  background-color: $primary-color;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    background-color: $secondary-color;
  }
}

.link {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  color: $link-color;
  background: none;
  text-decoration: underline;
}
