@use "../../../styles/variables" as *;

.menu {
  .menuList {
    display: flex;
  }

  .menuItem {
    padding: 0 10px;
    border-right: 1px solid $line-separator;

    &:last-child {
      padding-right: 0;
      border: 0;
    }
  }
}
