@use "../../../styles/variables" as *;

.textarea {
  width: 100%;
  min-height: 400px;
  padding: 10px;
  border: 0;
  font-size: 18px;
  font-family: $font-family-default;
  background-color: #ededed;
  resize: none;

  &.hasError {
    border: 1px solid $error-color;
  }
}
