@use "../../../styles/variables" as *;

.select {
  width: 100%;
  padding: 10px;
  border: 0;
  font-size: 14px;
  font-family: $font-family-default;
  background-color: #ededed;

  &.hasError {
    border: 1px solid $error-color;
  }
}
