$font-family-default: "Roboto", sans-serif;
$font-color-default: #272727;

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;

$primary-color: #303030;
$secondary-color: #808080;

$link-color: #4649a6;

$error-color: #e50000;

$line-separator: #b1b1b1;

$opacity-bg: rgba(0, 0, 0, 0.7);
