@use "../../../styles/variables" as *;

.input {
  margin-bottom: 10px;
  padding: 10px;
  border: 0;
  font-size: 18px;
  font-family: $font-family-default;
  background-color: #ededed;

  &.hasError {
    border: 1px solid $error-color;
  }
}
