@use "../../../styles/variables" as *;

.caseForm {
  display: flex;
  justify-content: space-between;

  .case {
    width: calc(50% - 20px);
  }

  .conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(50% - 20px);

    .error {
      font-size: 10px;
      color: $error-color;
    }

    button {
      margin-top: auto;
    }
  }
}
